body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #e6e6e6;
}

.container {
  position: relative;

  width: 1200px;
  margin: 0 auto;

  -webkit-box-shadow:
    -5px 0 15px -3px rgba(0, 1, 1, 0.2),
    5px 0 15px -3px rgba(0, 1, 1, 0.2);

          box-shadow:
    -5px 0 15px -3px rgba(0, 1, 1, 0.2),
    5px 0 15px -3px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;

  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 138px;
  padding-right: 138px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  word-wrap: break-word;

  border: none;

  cursor: pointer;
}

.button-send-form {
  width: 458px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.button-open-form-inner {
  width: 138px;
  margin-left: 85px;
  margin-right: 95px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 34px;
  padding-right: 32px;

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;

  cursor: pointer;
}

.button-more-info {
  width: 78px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 16px;
  padding-right: 16px;

  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.button-booking {
  width: 110px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 16px;
  padding-right: 16px;

  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-open-form-inner:hover,
.button-open-form-inner:focus {
  color: #000000;

  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.button-open-form,
.button-booking {
  background-color: #766357;
}

.button-open-form:hover,
.button-open-form:focus,
.button-booking:hover,
.button-booking:focus {
  background-color: #604e43;
}

.button-open-form:active,
.button-booking:active {
  background-color: #503e33;
}

.button-send-form,
.button-more-info {
  background-color: #81b3d2;
}

.button-send-form:hover,
.button-send-form:focus,
.button-more-info:hover,
.button-more-info:focus {
  background-color: #669ec0;
}

.button-send-form:active,
.button-more-info:active {
  background-color: #5496bd;
}

/* задаю стили для навигации по сайту */

.main-header {
  position: relative;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 56px;

  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;

  width: 138px;
  height: 70px;
  margin-left: -69px;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  min-height: 56px;
  margin: 0;
  padding: 0;
  padding: 0 72px;

  list-style: none;
}

.site-navigation li {
  width: 240px;

  word-wrap: break-word;
}

.site-navigation li:nth-child(4n-2),
.site-navigation li:nth-child(4n-1) {
  width: 288px;
}

.site-navigation li:nth-child(4n-3),
.site-navigation li:nth-child(4n-3) + li {
  text-align: left;
}

.site-navigation li:nth-child(4n-1),
.site-navigation li:nth-child(4n-1) + li {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
  color: #766357;
}

/* фон для приветственной части */

.page-intro {
  min-height: 508px;

  background-color: #ffffff;
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.page-intro h1 {
  margin: 0;
  padding: 0;
}


/* преимущества города */

.features {
  background-color: #ffffff;
}

.features-title {
  display: block;
  width: 576px;
  margin: 0 312px;
  margin-bottom: 27px;
  padding: 0;
  padding-top: 60px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  word-wrap: break-word;
  color: #000000;
}

.features h2 {
  width: 576px;
  margin: 0 312px;
  margin-bottom: 51px;

  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  word-wrap: break-word;
}

.features-list,
.features-list-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  margin: 0;
  padding: 0;

  list-style: none;
}

.feature-item {
  width: 400px;
  min-height: 256px;

  background-color: #eeeeee;
}

.feature-item:first-child,
.feature-item:first-child + li {
  width: 1200px;

  color: #ffffff;

  background-color: #81b3d2;
}

.feature-item h3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  width: 240px;
  margin: 0;
  margin-top: 47px;
  margin-left: 72px;
  margin-right: 88px;
  margin-bottom: 24px;
  padding-left: 66px;
  padding-right: 50px;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #000000;
  word-wrap: break-word;
}

.feature-item:nth-child(2) h3,
.feature-item:nth-child(5) h3 {
  margin-left: 88px;
  margin-right: 72px;
}

.feature-item:nth-child(2) h3 {
  padding-left: 38px;
  padding-right: 51px;
}

.feature-item:nth-child(5) h3 {
  padding-left: 62px;
  padding-right: 77px;
}

.feature-item:first-child h3,
.feature-item:nth-child(2) h3 {
  color: #ffffff;
}

.feature-item-number {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;

  text-align: center;
}
.feature-item-number::before,
.feature-item-number::after {
  content: "";

  position: relative;
  top: -1px;

  display: inline-block;
  width: 9px;
  height: 2px;

  vertical-align: middle;

  background-color: #333333;
}
.feature-item-number::before {
  left: -6px;
}
.feature-item-number::after {
  left: 6px;
}

.feature-item-number > span {
  display: inline-block;
  max-width: 240px;

  vertical-align: middle;
  word-wrap: break-word;
}

.feature-item:first-child .feature-item-number::before,
.feature-item:first-child .feature-item-number::after,
.feature-item:first-child + li .feature-item-number::before,
.feature-item:first-child + li .feature-item-number::after {
  background-color: #ffffff;
}

.feature-item-description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  margin: 0;
  margin-bottom: 58px;
  padding: 0 55px;

  text-align: center;
  word-wrap: break-word;
}

.feature-item-image {
  height: 256px;
}

.feature-item-add {
  width: 400px;
  min-height: 330px;

  background-color: #ffffff;
}

.feature-item-add h3 {
  position: relative;

  margin: 0;
  margin-top: 161px;
  margin-bottom: 24px;

  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.feature-item-add {
  background-repeat: no-repeat;
}

.feature-item-add:first-child {
  background-image: url("../img/icon-1.svg");
  background-position: top 60px left 162px;
}

.feature-item-add:first-child + li {
  background-image: url("../img/icon-3.svg");
  background-position: top 61px left 161px;
}

.feature-item-add:last-child {
  background-image: url("../img/icon-2.svg");
  background-position: top 56px left 168px;
}

.feature-item-add p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0 55px;

  text-align: center;
  word-wrap: break-word;
}

.feature-item:first-child,
.feature-item:first-child + li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature-item-wrapper {
  width: 400px;
}

.feature-item:nth-child(2) .feature-item-wrapper {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.features-list li:first-child {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

.features-list li:nth-child(6) {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.features-list-add li:last-child {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

/* раздел поиска гостиниц */

.appointment {
  position: relative;

  text-align: center;

  background-color: #ffffff;
}

.appointment h2 {
  width: 568px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-top: 50px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  word-wrap: break-word;
  color: #000000;
}

.appointment-info {
  width: 568px;
  margin: 0 auto;
  margin-bottom: 45px;

  line-height: 24px;
  text-align: center;
  word-wrap: break-word;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }

  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  75% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }

  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  75% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal {
  position: absolute;
  left: 50%;
  z-index: 4;

  display: none;
  margin-left: -284px;
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;

          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 568px;
  min-height: 395px;
  padding: 55px;

  background-color: #ffffff;
}

.search-item {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 458px;
  margin: 0;
  margin-bottom: 30px;
}

.search-item label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 112px;
  padding: 0;
  padding-top: 6px;
  padding-right: 16px;
  padding-bottom: 6px;

  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  word-wrap: break-word;
}

.search-icon-date {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 346px;
  height: 38px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 40px;
  padding-left: 12px;

  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.calendar-button {
  position: absolute;
  top: 0;
  right: 0;

  width: 38px;
  height: 38px;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.search-item input:hover {
  background-color: #ebebeb;
}

.search-item input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.calendar-button:hover path {
  fill: #000000;
}

.calendar-button:active path {
  fill: #81b3d2;
}

.search-item:nth-child(3) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  width: 229px;
}

.search-item:nth-child(4) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-end;

  width: 179px;
  margin-left: auto;
}

.search-item:nth-child(4) label {
  width: 65px;
}

.search-icon-amount {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 38px;
  height: 38px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 2px;
  padding-right: 2px;

  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.amount-reduce-button {
  position: relative;

  width: 38px;
  height: 38px;

  background-color: #f2f2f2;
  border: 0;

  cursor: pointer;
}

.amount-reduce-button::before {
  content: "";

  position: absolute;
  top: 17.5px;
  left: 13px;

  width: 12px;
  height: 3px;

  background-color: #a9a9a9;
}

.amount-increase-button {
  position: relative;

  width: 38px;
  height: 38px;

  background-color: #f2f2f2;
  border: 0;

  cursor: pointer;
}

.amount-increase-button::before,
.amount-increase-button::after {
  content: "";

  position: absolute;
  top: 17.5px;
  left: 13px;

  width: 11px;
  height: 3px;

  background-color: #a9a9a9;
}

.amount-increase-button::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.amount-reduce-button:hover::before {
  background-color: #000000;
}

.amount-increase-button:hover::before,
.amount-increase-button:hover::after {
  background-color: #000000;
}

.amount-reduce-button:active::before {
  background-color: #81b3d2;
}

.amount-increase-button:active::before,
.amount-increase-button:active::after {
  background-color: #81b3d2;
}

.search-item:nth-child(3),
.search-item:nth-child(4) {
  margin-bottom: 55px;
}

/* карта */

.maps {
  width: 1200px;
  min-height: 593px;
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

.maps iframe {
  position: absolute;
  z-index: 3;

  border: none;
}

.maps p {
  position: absolute;
  z-index: 1;

  margin: 0;
  padding: 0;

  font-size: 0;
  line-height: 0;
}

/* внутренняяя страница - фильтр гостиниц */

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 217px;
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 31px;
  padding-left: 72px;
  padding-right: 72px;

  color: #ffffff;

  background-color: #33454e;
  background-image: url("../img/background-photo-blur.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.filter fieldset {
  width: 253px;
  margin: 0;
  padding: 0;

  border: none;
}

.filter fieldset:first-child + fieldset {
  margin-left: 2px;
}

.filter legend {
  margin-bottom: 24px;

  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-option {
  margin-bottom: 25px;
}

.filter-option:last-child {
  margin-bottom: 0;
}

.filter-checkbox {
  position: relative;

  padding-left: 40px;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -2px;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
}

.filter-checkbox input[type="checkbox"][disabled] + .checkbox-indicator {
  background-image: url("../img/checkbox-disabled-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
}

.filter-checkbox input[type="checkbox"][disabled][checked] + .checkbox-indicator {
  width: 27px;

  background-image: url("../img/checkbox-disabled-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
}

.filter-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  width: 27px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
}

.filter-range {
  width: 318px;
  margin-left: auto;
}

.filter-range-title {
  margin-bottom: 9px;

  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;

  -webkit-transform: translate(-50%, -50%);

      -ms-transform: translate(-50%, -50%);

          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 21px;
  vertical-align: center;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 56px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);

  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 253px;
}

.range-toggle:hover {
  top: -10px;

  width: 6px;
  height: 6px;

  background: #1c4f80;
}

.range-toggle-min:hover {
  left: -1px;
}

.range-toggle-max:hover {
  left: 252px;
}

.inner-page h1 {
  margin: 0;
  padding: 0;
}

/* сортировка */

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  min-height: 86px;
  margin: 0;
  padding: 0;
  padding-left: 72px;
  padding-right: 72px;

  background-color: #ffffff;

  border-bottom: 1px solid #e5e5e5;
}

.sorting-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  min-height: 86px;
}

.hotels-amount {
  width: 135px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  word-wrap: break-word;
}

.sorting .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: center;
  width: 650px;
  margin-left: 29px;
  padding-top: 2px;
}

.sorting h2 {
  margin: 0;
  padding: 0;
  padding-top: 2px;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sorting ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting .sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 40px;
}

.sorting-list li {
  white-space: nowrap;
}

.sorting-list li {
  padding-right: 33px;
}

.sorting-list a {
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;

  border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: #81b3d2;
}

.sorting-list a:active {
  color: #000000;
  border-bottom: none;
}

.sorting-active a {
  color: #81b3d2;
  border-bottom: none;
}

.sorting-wrapper .sorting-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 110px;
  margin-left: auto;
}

.sorting-position li {
  padding-top: 2px;
}

.sorting-position li:nth-child(n+2) {
  padding-left: 14px;
}

.arrow {
  display: inline-block;
  margin: 0;
  padding: 0;

  font-size: 0;
  vertical-align: middle;
}

.arrow::before {
  content: "";

  display: inline-block;

  vertical-align: middle;

  border: 10px solid #cacaca;
  border-right-width: 5px;
  border-left-width: 5px;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow-up::before {
  border-top-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}

.arrow-current::before {
  border-color: #81b3d2;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow-up:hover::before,
.arrow-up:focus::before,
.arrow-down:hover::before,
.arrow-down:focus::before{
  border-color: #000000;
  border-right-color: transparent;
  border-left-color: transparent;
}

.arrow-up:active::before,
.arrow-down:active::before{
  border-color: #81b3d2;
  border-right-color: transparent;
  border-left-color: transparent;
}

/* блок с гостиницами */

.hotels-search {
  background-color: #ffffff;
}

.hotels-search h2 {
  margin: 0;
  padding: 0;
}

.hotels-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.hotel-item {
  min-height: 150px;

  border-bottom: 1px solid #e5e5e5;
}

.hotel-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 93px;
  margin-left: 72px;
  margin-right: 72px;
  padding-top: 25px;
  padding-bottom: 28px;
}

.column-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 728px;
  margin: 0;
  padding: 0;
}

.column-left p {
  min-width: 135px;
  height: 90px;
  margin-top: 5px;
}

.hotel-description {
  margin-left: 30px;
}

.hotel-description-wrapper span {
  display: inline-block;
  margin-bottom: 7px;
  margin-right: 2px;

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  vertical-align: top;
  word-wrap: break-word;
}

.hotel-type {
  width: 110px;
}

.hotel-cost {
  width: 142px;
}

.hotel-description > a {
  margin-top: 7px;
  margin-right: 2px;
}

.hotel-image {
  margin: 0;
  padding: 0;
}

.hotel-title {
  width: 563px;
  margin: 0;
  margin-bottom: 7px;
  padding: 0;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  word-wrap: break-word;
}

.hotel-title a {
  margin: 0;
  padding: 0;

  color: #000000;
}

.hotel-title a:hover,
.hotel-title a:focus {
  color: #81b3d2;
}

.hotel-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.column-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;

  text-align: right;
}

.hotel-star {
  margin: 0;
  margin-top: 4px;
  margin-left: auto;
  margin-bottom: 5px;
  padding: 0;

  background-image: url("../img/star.svg");
  background-repeat: space no-repeat;
}

.hotel-star span {
  visibility: hidden;
}

.two-star {
  width: 41px;
}

.three-star {
  width: 65px;
}

.four-star {
  width: 89px;
}

.hotel-rating {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 110px;
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 12px;
  padding-left: 15px;
  background-color: #f2f2f2;

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  word-wrap: break-word;
}

/* задаю стили для подвала */

.main-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 3;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  min-height: 120px;
  margin-left: -600px;

  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px;
}

.inner-page .main-footer {
  position: relative;
  width: 1200px;
}

.footer-hashtag {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 400px;
  margin: 0;
  padding: 0 75px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  word-wrap: break-word;
  color: #000000;
}

.hashtag-button {
  color: #000000;
}

.hashtag-button:hover,
.hashtag-button:focus {
  color: #81b3d2;
}

.hashtag-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.footer-social {
  width: 400px;

  text-align: center;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
  margin: 36px auto;
  padding: 0;

  list-style: none;
}

.footer-social li:nth-child(n+4) {
  margin-top: 6px;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active,
.social-button:active {
  background-color: #5496bd;
}

.social-button:active path,
.social-button:active path {
  fill-opacity: 0.3;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  margin: 0 auto;
  padding: 0;

  text-align: center;
}

.footer-copyright b {
  max-width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
  color: #000000;
}

.copyright-button {
  width: 115px;
  height: 41px;
  margin-left: 8px;
}

.copyright-button:hover path,
.copyright-button:focus path {
  fill: #81b3d2;
}

.copyright-button:active path,
.copyright-button:active path {
  fill: #bdbbbc;
}
